//	=================
//    	Imports
//	=================

@import '../base/color_variables';   	// Color Variables
@import '../base/functions';   			// Functions Variables
@import '../base/mixins';  				// Mixins Variables
@import '../base/utilities';  			// Utilities Variables


/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/

html {
  min-height: 100%;
  direction: rtl;
}

body {
  color: #888ea8;
  height: 100%;
  font-size: 0.875rem;
  background: #fafafa;
  overflow-x: hidden;
  overflow-y: auto;
  letter-spacing: 0.0312rem;
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #3b3f5c;
}

:focus {
  outline: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: #4361ee;
  background: transparent;
}

::selection {
  color: #4361ee;
  background: transparent;
}

p {
  margin-top: 0;
  margin-bottom: 0.625rem;
  color: #515365;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #f1f2f3;
}

strong {
  font-weight: 600;
}

code {
  color: #e7515a;
}

/*Page title*/

.page-header {
  display: flex;
  padding: 16px 0 0 0;
  justify-content: space-between;

  .breadcrumb-one {
    align-self: center;

    .breadcrumb {
      padding: 0;
      vertical-align: text-bottom;
      margin-bottom: 0;
      background: transparent;
    }

    .breadcrumb-item {
      align-self: center;
      position: relative;
      padding: 0px 8px 0px 8px;

      &:first-child {
        padding: 0px 0 0px 8px;
      }

      a {
        color: #888ea8;
        font-size: 13px;
        font-weight: 600;

        &:hover {
          color: #4361ee;
        }

        svg {
          width: 20px;
          height: 20px;
          vertical-align: sub;
        }
      }

      span {
        vertical-align: text-bottom;
      }

      &.active {
        font-weight: 600;
        padding: 0px 8px !important;
      }

      + .breadcrumb-item::before {
        color: #e0e6ed;
        content: "";
        vertical-align: text-top;
        padding: 0;
        position: absolute;
        right: -2px;
        height: 4px;
        width: 4px;
        background: #bfc9d4;
        border-radius: 50%;
        top: 9px;
      }
    }
  }
}

.main-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#container.fixed-header {
  margin-top: 56px;
}

#content {
  width: 50%;
  flex-grow: 8;
  margin-top: 55px;
  margin-bottom: 0;
  margin-right: 116px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.main-container-fluid > .main-content > .container {
  float: right;
  width: 100%;
}

#content > .wrapper {
  -webkit-transition: margin ease-in-out .1s;
  -moz-transition: margin ease-in-out .1s;
  -o-transition: margin ease-in-out .1s;
  transition: margin ease-in-out .1s;
  position: relative;
}

.widget {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 6px;
  border: 1px solid #e0e6ed;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
}

.layout-top-spacing {
  margin-top: 20px;
}

.layout-spacing {
  padding-bottom: 40px;
}

.layout-px-spacing {
  padding: 0 20px 0 20px !important;
  min-height: calc(100vh - 95px) !important;
}

.widget.box .widget-header {
  background: #fff;
  padding: 0px 8px 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.row [class*="col-"] .widget .widget-header h4 {
  color: #3b3f5c;
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  padding: 16px 15px;
}

.seperator-header {
  background: transparent;
  box-shadow: none;
  margin-bottom: 40px;
  border-radius: 0;

  h4 {
    margin-bottom: 0;
    line-height: 1.4;
    padding: 5px 8px;
    font-size: 15px;
    border-radius: 4px;
    letter-spacing: 1px;
    display: inline-block;
    background: rgba(0, 150, 136, 0.26);
    color: #009688;
    font-weight: 500;
  }
}

.widget .widget-header {
  border-bottom: 0px solid #f1f2f3;

  &:before {
    display: table;
    content: "";
    line-height: 0;
  }

  &:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
  }
}

.widget-content-area {
  padding: 20px;
  position: relative;
  background-color: #fff;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.content-area {
  max-width: 58.333333%;
  margin-right: 80px;
}

/* 
=====================
    Navigation Bar
=====================
*/

.header-container {
  z-index: 1031;
}

header.navbar {
  padding: 0 116px 0 0;
}

.sidebar-noneoverflow .header.navbar {
  padding: 0;
}

.navbar {
  padding: 0 20px 0 0;
  background: #fff;
  max-height: 57px;
  border-bottom: 1px solid #e0e6ed;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0px 20px 20px rgba(126, 142, 177,  0.12);
  -moz-box-shadow: 0px 20px 20px rgba(126, 142, 177,  0.12);
  box-shadow: 0px 20px 20px rgba(126, 142, 177,  0.12);

  &.expand-header {
    padding: 0;
  }
}

.navbar-expand-sm .navbar-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 0;
  margin-bottom: 0;
  list-style: none;
}

.header-container .sidebarCollapse {
  display: inline-block;
  position: relative;
  color: #1b2e4b;
  padding: 5px 0;
  font-size: 23px;
  margin-right: 16px;

  svg {
    width: 23px;
    height: 23px;
    stroke-width: 1.6;
  }
}

.navbar-expand-sm .navbar-item .nav-link {
  line-height: 2.75rem;
  padding: 6.24px 9.6px;
  text-transform: initial;
  position: unset;
}

.navbar {
  .navbar-item .nav-item.dropdown a svg {
    stroke-width: 1.2px;
    color: #506690;
  }

  .dropdown-menu {
    border-radius: 6px;
    border-color: #e0e6ed;
  }

  .dropdown-item {
    line-height: 1.8;
    font-size: 0.96rem;
    padding: 15px 0 15px 0;
    word-wrap: normal;
  }

  .navbar-item .nav-item {
    &.dropdown.show a.nav-link span {
      color: #805dca !important;

      &.badge {
        background-color: #888ea8 !important;
      }
    }

    .dropdown-item {
      &.active, &:active {
        background-color: transparent;
        color: #16181b;
      }
    }

    &.dropdown {
      .nav-link:hover span {
        color: #805dca !important;
      }

      .dropdown-menu {
        top: 125% !important;
        border-radius: 6px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(31, 45, 61, 0.1);
        box-shadow: 0 10px 30px 0 rgba(31, 45, 61, 0.1);
        background: #fff;
        border: 1px solid #e0e6ed;
        padding: 10px;

        .dropdown-item {
          border-radius: 0;
        }
      }

      &.notification-dropdown .nav-link, &.message-dropdown .nav-link {
        position: relative;
        z-index: 1;
      }
    }
  }

  .language-dropdown {
    align-self: center;
    margin-right: 20px;

    .custom-dropdown-icon {
      margin-left: 0;

      a.dropdown-toggle {
        position: relative;
        padding: 0 0 0 0;
        border: none;
        border-radius: 6px;
        transform: none;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        background-color: transparent;
        min-width: 0;
        text-align: inherit;
        color: #1b2e4b;
        box-shadow: none;
        max-height: 35px;

        img {
          width: 22px;
          height: 22px;
          vertical-align: text-top;
        }
      }
    }
  }

  .navbar-item .nav-item.dropdown.language-dropdown .dropdown-menu {
    position: absolute;
    left: -10px;
    top: 210% !important;
    padding: 8px 0;
    border: none;
    min-width: 135px;
    border: 1px solid #e0e6ed;

    &.show {
      top: 146% !important;
    }
  }

  .language-dropdown {
    .custom-dropdown-icon .dropdown-menu a {
      padding: 8px 15px;
      font-size: 13px;
      font-weight: 500;
      color: #3b3f5c;
    }

    &.dropdown:not(.custom-dropdown-icon):not(.custom-dropdown) .custom-dropdown-icon .dropdown-menu a:hover {
      color: #4361ee;
      border-radius: 0 !important;
    }

    .custom-dropdown-icon .dropdown-menu img {
      width: 17px;
      height: 17px;
      margin-left: 7px;
      vertical-align: sub;
    }
  }

  .navbar-item {
    .nav-item.dropdown {
      &.message-dropdown {
        margin-right: 20px;

        .nav-link {
          font-size: 20px;
          padding: 6px 0;

          &:after {
            display: none;
          }

          span.badge {
            position: absolute;
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            padding: 0;
            font-size: 10px;
            color: #fff !important;
            background: #e2a03f;
            top: 15px;
            left: 2px;
          }
        }

        &.double-digit .nav-link span.badge {
          top: 11px;
          left: 1px;
          width: 22px;
          height: 22px;
          padding: 3px 3px 0px;
          font-size: 9px;
        }

        .dropdown-menu {
          min-width: 13rem;
          left: -15px;
          right: auto;
          padding: 10px !important;

          &.show {
            top: 87% !important;
          }

          .dropdown-item {
            padding: 8px 7px;
            border: 1px solid #fff;

            &.active, &:active {
              background-color: transparent;
            }

            &:not(:last-child) {
              border-bottom: 1px solid #e0e6ed;
            }

            &:focus, &:hover {
              background-color: transparent;
            }

            &:first-child {
              padding-top: 8px;
            }
          }

          &:after {
            left: 17px;
          }

          .dropdown-item:last-child {
            padding-bottom: 8px;
            cursor: pointer;
          }

          .media {
            margin: 0;

            .avatar {
              position: relative;
              display: inline-block;
              width: 39px;
              height: 39px;
              font-size: 14px;
              margin-left: 11px;
              font-weight: 500;

              .avatar-title {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                font-weight: 600;
                background-color: #e3e4eb;
                color: #0e1726;
              }
            }

            img {
              width: 40px;
              height: 40px;
              margin-left: 11px;
            }

            .media-body h5.usr-name {
              font-size: 15px;
              margin-bottom: 0px;
              color: #0e1726;
              font-weight: 500;
            }
          }

          .dropdown-item:hover .media-body h5.usr-name {
            color: #4361ee;
          }

          .media .media-body {
            align-self: center;

            p.msg-title {
              font-size: 10px;
              font-weight: 700;
              color: #888ea8;
              margin-bottom: 0;
              letter-spacing: 0;
            }
          }
        }
      }

      &.notification-dropdown {
        margin-right: 20px;

        .nav-link {
          font-size: 20px;
          padding: 6px 0;

          &:after {
            display: none;
          }

          span.badge {
            position: absolute;
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            padding: 0;
            font-size: 10px;
            color: #fff !important;
            background: #1abc9c;
            top: 15px;
            left: 2px;
          }
        }

        .dropdown-menu {
          min-width: 15rem;
          left: -5px;
          right: auto;

          &.show {
            top: 87% !important;
          }

          .dropdown-item {
            padding: 0.625rem 1rem;
            cursor: pointer;

            &:focus, &:hover {
              background-color: transparent;
            }

            &:not(:last-child) {
              border-bottom: 1px solid #ebedf2;
            }
          }

          .media {
            margin: 0;
          }

          svg {
            width: 23px;
            height: 23px;
            font-weight: 600;
            color: #e2a03f;
            fill: rgba(226, 160, 63, 0.2705882353);
            margin-left: 9px;
            align-self: center;
          }

          .media {
            &.file-upload svg {
              color: #e7515a;
              fill: rgba(231, 81, 90, 0.2392156863);
            }

            &.server-log svg {
              color: #009688;
              fill: rgba(0, 150, 136, 0.368627451);
            }
          }

          .media-body {
            display: flex;
            justify-content: space-between;
          }

          .data-info {
            display: inline-block;
            white-space: normal;

            h6 {
              margin-bottom: 0;
              font-weight: 600;
              font-size: 14px;
              margin-left: 8px;
            }
          }

          .dropdown-item:hover .data-info h6 {
            color: #4361ee;
          }

          .data-info p {
            margin-bottom: 0;
            font-size: 13px;
            font-weight: 600;
            color: #888ea8;
          }

          .icon-status {
            display: inline-block;
            white-space: normal;

            svg {
              margin: 0;

              &.feather-x {
                color: #bfc9d4;
                width: 19px;
                height: 19px;
                cursor: pointer;

                &:hover {
                  color: #e7515a;
                }
              }

              &.feather-check {
                color: #fff;
                background: #0d9a5d;
                border-radius: 50%;
                padding: 3px;
                width: 22px;
                height: 22px;
              }
            }
          }
        }
      }
    }

    &.search-ul {
      margin-right: auto;
    }

    .nav-item {
      &.search-animated {
        position: relative;

        /* margin-left: 0; */

        svg {
          display: none;
        }
      }

      form.form-inline input.search-form-control {
        font-size: 15px;
        padding: 7px 10px;
        border: none;
        color: #3b3f5c;
        box-shadow: none;
        border-radius: 6px;
        border: 1px solid #e0e6ed;
      }

      .form-inline.search .search-form-control {
        width: 100%;
        width: 255px;
        height: 36px;
      }

      form.form-inline input.search-form-control {
        &::-webkit-input-placeholder, &::-ms-input-placeholder, &::-moz-placeholder {
          color: #888ea8;
          letter-spacing: 1px;
          font-size: 15px;
        }

        &:focus {
          &::-webkit-input-placeholder, &::-ms-input-placeholder, &::-moz-placeholder {
            color: #888ea8;
          }
        }
      }
    }
  }
}

/*   Language   */

/*   Language Dropdown  */

/*Message Dropdown*/

/*Notification Dropdown*/

/* Search */

.search-overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: transparent !important;
  z-index: 814 !important;
  opacity: 0;
  transition: all 0.5s ease-in-out;

  &.show {
    display: block;
    opacity: .1;
  }
}

/* User Profile Dropdown*/

.navbar .navbar-item .nav-item {
  &.user-profile-dropdown {
    margin-right: 20px;
    margin-left: 20px;

    .nav-link.user {
      padding: 6px 0;
      font-size: 25px;
    }
  }

  &.dropdown.user-profile-dropdown .nav-link:after {
    display: none;
  }

  &.user-profile-dropdown {
    .nav-link img {
      width: 28px;
      height: 28px;
      border-radius: 5px;
    }

    .dropdown-menu {
      z-index: 9999;
      max-width: 13rem;
      padding: 0 10px;
      top: 56px;
      right: -123px;

      &.show {
        top: 87% !important;
      }

      .user-profile-section {
        padding: 16px 15px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        margin-left: -12px;
        margin-right: -12px;
        margin-top: -1px;
        background-image: linear-gradient(to left, #09203f 0%, #537895 100%);

        .media {
          margin: 0;

          img {
            width: 40px;
            height: 40px;
            border-radius: 12px;
            border: 3px solid rgba(224, 230, 237, 0.31);
          }

          .media-body {
            align-self: center;

            h5 {
              font-size: 14px;
              font-weight: 500;
              margin-bottom: 0;
              color: #fafafa;
            }

            p {
              font-size: 11px;
              font-weight: 500;
              margin-bottom: 0;
              color: #e0e6ed;
            }
          }
        }
      }

      .dropdown-item {
        padding: 0;
        background: transparent;

        a {
          display: block;
          color: #3b3f5c;
          font-size: 13px;
          font-weight: 600;
          padding: 9px 14px;
        }

        &:hover a {
          color: #4361ee;
        }

        &.active, &:active {
          background-color: transparent;
        }

        &:not(:last-child) {
          border-bottom: 1px solid #ebedf2;
        }

        svg {
          color: #3b3f5c;
          width: 17px;
          margin-left: 7px;
          height: 17px;
          stroke-width: 2;
        }
      }
    }
  }
}

/* 
===============
    Sidebar
===============
*/

.sidebar-wrapper * {
  overflow: hidden;
  white-space: nowrap;
}

.sidebar-theme #compactSidebar {
  background: #fff;
}

.sidebar-closed #content {
  margin-right: 0;
}

.sidebar-wrapper #compactSidebar {
  width: 116px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1033;
  transition: .3s ease all;
  height: 100vh;
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-left: 1px solid #e0e6ed;
}

.sidebar-closed #compactSidebar {
  right: -150px;
}

.sidebar-wrapper {
  #compactSidebar {
    .theme-brand {
      justify-content: center;
      padding: 14px 0;

      .theme-logo, img {
        width: 50px;
        height: 50px;
        border-radius: 6px;
      }
    }

    .menu-categories {
      position: relative;
      padding: 0;
      height: calc(100vh - 100px);
      margin-bottom: 0;

      &.ps .ps__rail-y {
        &:hover, &.ps--clicking {
          background-color: transparent;
        }
      }

      > li.menu {
        position: relative;
        list-style: none;

        svg.feather-chevron-left {
          position: absolute;
          left: -20px;
          fill: #ffffff;
          top: 20%;
          display: none;
          width: 50px;
          height: 50px;
          stroke-width: 0;
        }
      }

      a.menu-toggle {
        height: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        color: #515365;
        transition: color .3s;
        transition: background .3s;

        > div.base-menu {
          text-align: center;
        }

        .base-icons {
          text-align: center;

          svg {
            position: relative;
            display: inline-block;
            color: #3b3f5c;
            vertical-align: middle;
            width: 26px;
            height: 26px;
            stroke-width: 1.2px;
          }
        }

        .base-menu span {
          font-size: 13px;
          margin-top: 8px;
          display: inline-block;
          color: #3b3f5c;
          font-weight: 600;
        }
      }

      li.menu:hover a.menu-toggle {
        .base-icons svg {
          color: #4361ee;
          fill: #eaf1ff;
        }

        .base-menu span {
          color: #4361ee;
        }
      }

      > li.menu.active svg.feather-chevron-left {
        display: none;
      }

      a.menu-toggle[data-active="true"] {
        position: relative;
        background-color: #eaf1ff;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          background: #4361ee;
          height: 100%;
          width: 3px;
          left: 0;
        }

        .base-icons svg, .base-menu span {
          color: #3b3f5c;
        }
      }

      li.menu.show a.menu-toggle {
        background-color: rgba(255, 255, 255, 0.07);

        .base-icons svg, .base-menu span {
          color: #4361ee;
        }
      }
    }
  }

  #compact_submenuSidebar {
    right: -255px;
    position: fixed;
    height: 100%;
    height: calc(100vh - 0px);
    top: 0;
    width: 225px;
    padding: 19px 0;
    transition: .3s ease all;
    z-index: 1032;
    background: #fdfdfd;
    box-shadow: 0 4.4px 45.3px -14px rgba(0, 0, 0, 0.15), 0 35px 97px -14px rgba(0, 0, 0, 0.082);
    border-right: 1px solid #fdfdfd;

    &.show {
      right: 116px;
    }

    .submenu {
      display: none;

      &.show {
        display: block;
      }

      ul.submenu-list {
        padding: 0;
        margin: 0;
        margin-bottom: 25px;

        li {
          padding: 0;
          list-style: none;

          &.active a {
            font-weight: 600;
            transition: .5s;
            border-radius: 0;

            background-color: rgba(255, 255, 255, 0.07);
          }

          a {
            padding: 9px 32px;
            display: block;
            color: #515365;
            cursor: pointer;
            font-size: 12px;
            font-weight: 600;
            transition: .300s;
            border-radius: 0;

            &:hover {

              color: #1937ca;
              transition: .5s;
              background-color: #0000000d;
            }

            svg.feather-chevron-right {
              width: 15px;
              height: 15px;
              align-self: center;
              transition: .500s;
            }
          }

          &.sub-submenu {
            a {
              &[aria-expanded="true"] {
                color: #515365;

                /* background-color: #515365; */

                svg {
                  transform: rotate(90deg);
                }
              }

              display: flex;
              justify-content: space-between;
            }

            ul {
              padding-right: 0;

              li {
                &:first-child a {
                  padding-top: 20px;
                }

                &:last-child a {
                  padding-bottom: 20px;
                }

                a {
                  position: relative;
                  padding: 6px 52px;
                  background: transparent;
                  border-radius: 0;
                  font-size: 12px;
                  color: #888ea8;

                  &:hover {
                    color: rgb(92, 26, 195);
                  }
                }

                &.active a {
                  color: rgb(92, 26, 195);

                  &:before {
                    background-color: rgb(92, 26, 195);
                  }
                }

                &:first-child a:before {
                  top: 29px;
                }

                a {
                  &:before {
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 3px;
                    background-color: #888ea8;
                    top: 15px;
                    right: 41px;
                    border-radius: 50%;
                  }

                  &:hover:before {
                    background-color: rgb(92, 26, 195);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*Data active True*/

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1031 !important;
  transition: all 0.5s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  touch-action: pan-y;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.show {
    display: block;
  }
}

.animated {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes e-fadeInUp {
  0% {
    opacity: 0;
    margin-top: 10px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes e-fadeInUp {
  0% {
    opacity: 0;
    margin-top: 10px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.fadeInUp {
  -webkit-animation-name: e-fadeInUp;
  animation-name: e-fadeInUp;
}

/*  
    ======================
        Footer-wrapper
    ======================
*/

.footer-wrapper {
  padding: 10px 20px 10px 20px;
  display: inline-block;
  background: transparent;
  font-weight: 600;
  font-size: 12px;
  width: 100%;
  border-top-right-radius: 6px;
  display: flex;
  justify-content: space-between;
}

.main-container.sidebar-closed .footer-wrapper {
  border-radius: 0;
}

.footer-wrapper .footer-section {
  p {
    margin-bottom: 0;
    color: #515365;
    font-size: 13px;
    letter-spacing: 1px;

    a {
      color: #515365;
    }
  }

  svg {
    color: #e7515a;
    fill: rgba(231, 81, 90, 0.4196078431);
    width: 15px;
    height: 15px;
    vertical-align: text-top;
  }
}

/*  
    ======================
        MEDIA QUERIES
    ======================
*/

@media (max-width: 991px) {
  .header-container {
    padding-left: 0;
    padding-right: 0;

    .sidebarCollapse {
      margin-right: 8px;
      display: block;

      svg {
        width: 21px;
        height: 21px;
      }
    }
  }

  .navbar {
    .navbar-item .nav-item.theme-logo {
      margin-left: 3px;
      margin-right: 0;

      a img {
        width: 38px;
        height: 38px;
      }
    }

    padding: 0 12px 0 0 !important;
  }

  /*
      =============
          NavBar
      =============
  */

  .main-container.sidebar-closed #content {
    margin-right: 0;
  }

  .navbar .language-dropdown .custom-dropdown-icon {
    margin-left: 0;

    a.dropdown-toggle {
      svg {
        display: none;
      }

      img {
        margin-left: 0;
      }
    }
  }

  /*
      =============
          Sidebar
      =============
  */

  #content {
    margin-right: 0;
  }

  #sidebar .theme-brand {
    border-radius: 0;
  }

  .sidebar-closed #sidebar .theme-brand {
    padding: 0.9px 24px 0.9px 12px;
  }

  .sidebar-wrapper #compactSidebar .menu-categories {
    height: calc(100vh - 120px);
  }

  html.sidebar-noneoverflow .main-container:not(.sidebar-closed) .sidebar-wrapper #compactSidebar, .main-container.sbar-open .sidebar-wrapper #compactSidebar {
    right: 0;
  }

  .sidebar-wrapper {
    #compact_submenuSidebar.show {
      right: 120px;
    }

    #compactSidebar {
      width: 120px;
      right: -150px;
    }
  }

  .sbar-open.sidebar-closed #compactSidebar {
    right: -150px !important;
  }

  .sidebar-wrapper #compact_submenuSidebar {
    width: 200px;
  }

  body.alt-menu .sidebar-closed > .sidebar-wrapper {
    width: 0;
    right: -52px;
  }

  .main-container {
    padding: 0;
  }

  #sidebar ul.menu-categories.ps {
    height: calc(100vh - 114px) !important;
  }

  .sidebar-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    border-radius: 0;
  }

  #sidebar {
    height: 100vh !important;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
  }

  /* display .overlay when it has the .active class */

  .overlay.show {
    display: block;
    opacity: .7;
  }

  .navbar {
    .navbar-item .nav-item.dropdown {
      &.message-dropdown .dropdown-menu {
        left: -48px;
        padding: 24px 0;
      }

      &.notification-dropdown .dropdown-menu {
        left: -92px;
      }
    }

    .language-dropdown .custom-dropdown-icon a.dropdown-toggle {
      position: relative;
      padding: 0;
    }
  }
}

@media (max-width: 1199px) {
  .navbar .navbar-item .nav-item .form-inline.search .search-form-control {
    width: 220px;
  }
}

@media (min-width: 992px) {
  .sidebar-closed #sidebar .theme-brand li.theme-text a {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar .navbar-item .nav-item {
    .form-inline.search {
      .search-form-control {
        opacity: 0;
        transition: opacity 200ms, top 200ms;
      }

      &.input-focused {
        .search-form-control {
          opacity: 1;
          transition: opacity 200ms, top 200ms;
        }

        position: absolute;
        bottom: 0;
        top: 0;
        background: #fff;
        height: 100%;
        width: 100%;
        right: 0;
        left: 0;
        z-index: 32;
        margin-top: 0px !important;
        display: flex;
        opacity: 1;
        transition: opacity 100ms, top 100ms;
      }

      opacity: 0;
      transition: opacity 200ms, top 200ms;
      top: -25px;
    }

    &.search-animated {
      position: initial;
      margin-left: 0;
      margin-right: 0;

      svg {
        margin: 0;
        cursor: pointer;
        position: initial;
        transition: top 200ms;
        fill: none;
        stroke-width: 1.2px;
        color: #506690;
        width: 24px;
        height: 24px;
        display: block;
      }

      &.show-search svg {
        margin: 0;
        position: absolute;
        top: 16px;
        right: 16px;
        width: 24px;
        height: 24px;
        color: #506690;
        z-index: 40;
        transition: top 200ms;
      }
    }

    .form-inline.search {
      &.input-focused {
        .search-bar {
          width: 100%;
        }

        .search-form-control {
          background: transparent;
          display: block;
          padding-right: 50px;
          padding-left: 12px;
          border: none;
        }
      }

      .search-form-control {
        border: none;
        width: 100%;
        display: none;
      }
    }
  }
}

@media (max-width: 575px) {
  .navbar {
    .navbar-item .nav-item {
      &.dropdown {
        &.notification-dropdown .nav-link:before {
          display: none;
        }

        &.message-dropdown {
          .nav-link:before {
            display: none;
          }

          margin-right: 16px;
        }

        &.notification-dropdown {
          margin-right: 16px;
        }
      }

      &.user-profile-dropdown {
        margin-right: 16px;
      }

      &.dropdown a svg {
        width: 24px;
        height: 24px;
      }
    }

    .language-dropdown .custom-dropdown-icon a.dropdown-toggle img {
      width: 20px;
      height: 20px;
    }

    .navbar-item .nav-item.dropdown {
      &.notification-dropdown .dropdown-menu {
        left: -84px;
      }

      &.message-dropdown .dropdown-menu {
        left: -44px;
      }
    }

    .language-dropdown .custom-dropdown-icon a.dropdown-toggle span {
      display: none;
    }
  }

  .footer-wrapper .footer-section.f-section-2 {
    display: none;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .navbar {
    padding: 12px 20px 11px 0;

    .navbar-item .nav-item form.form-inline input.search-form-control {
      padding-top: 8px;
    }
  }
}